body {
margin:0;
padding:0;
font-family: 'Cabin';
font-size:100%;
background-color:#0c0c0c;
}
a {text-decoration:none;color:#333;}
a:hover{color:#666;}
p{font-size:14px;}
#page {}

/* Header region */
#header-wrapper{background:#010101 url(../images/topbg.png) no-repeat top center;}/*{*/
 #header{width:950px;margin:0 auto;height:90px;} /*{*/

  #logo img {margin-top:10px;}

  #name-and-slogan{display:inline;} /*{*/
   #site-name{}
   #site-slogan{clear:left;}
 /*} name-and-slogan */

/*-- Header information */
  #header-in-l{}/*{*/
    #region-header{width:425px;float:right;background:rgba(0,0,0,0.8);padding:5px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
    #region-menu{clear:both;}/*} header-in-r } header } header-wrapper */

/* Main region */
#main-wrapper{background:#9e0b00 url(../images/rt-bg.png) repeat-x top;} /*{*/
 #main-bg{background:transparent url(../images/rt-floor2.png) fixed no-repeat bottom left;}/*{*/
  #main-bg2{width:980px;margin:0 auto;background:url(../images/main-bg.png) repeat-y;}
   #main{width:930px;margin:0 auto;background:rgba(0,0,0,0.7); padding:10px;} /*{*/
   .region-highlighted {margin:-10px -10px 0 -10px;}
   .nivo-caption {width:600px;background:none;top:200px;}
   .nivo-caption h2 {margin:0;font-size:36px;}
/* Sidebars */
    #sidebar{float:right;width:210px;position:relative;z-index:400;margin-top:-90px;}
	body.front #sidebar {margin-top:-320px;}/*{*/
     #side-1{background-color:#0d0d0d;border-top:7px solid #fff;color:#fff;padding:7px;}
      #side-1 .views-field-phone, #side-1 .views-field-fax, #side-1 .views-field-view-node{border:1px solid #333;padding:2px;border-radius:5px;margin-bottom:10px;font-size:20px;}
      #side-1 .views-field-phone a, #side-1 .views-field-fax a, #side-1 .views-field-view-node a {background:url(../images/icons.png) no-repeat;padding-left:35px;}
      #side-1 .views-field-fax a {background-position:0;}
      #side-1 .views-field-view-node a {background-position:0 -50px;}
      #side-1 .views-field-city {background:rgba(255,255,255,0.8);border-top-right-radius: 10px;font-size: 14px;margin: 0 60px -7px -7px;padding: 5px;}
      #side-1 h2 { margin:-7px 0 10px -7px;font-size:14px;background-color:#fff;color:#000;width:10em;border-bottom-right-radius:5px;text-align:center;text-transform:lowercase;}
	  #side-1 a {color:#fff;}
     #side-2{
	   background:url(../images/side-r-bg.png) repeat-y #5f0000;
	   border-top:7px solid #333;
	   border-bottom-left-radius:30px;
	   border-bottom-right-radius:30px;
	   padding:10px 10px 30px 10px;
	   }
	  #side-2 h2{margin:-10px -10px 10px -10px;font-size:14px;text-align:center;text-transform:lowercase;border-bottom-right-radius:5px;background-color:#333;color:#fff;width:10em;}
	  #side-2 ul{margin:0;padding:0;border-bottom:1px solid #2e2e2e;}
	   #side-2 li{list-style:none;margin:0;padding-top:10px;border-bottom:1px solid #170505;border-top:1px solid #2e2e2e;text-align:right;}
	    #side-2 li.first{border-top:0;}
		#side-2 li.last{}
	    #side-2 li a {color:#fff;font-family:'Play';font-weight:normal;font-size:17px;text-align:right;margin:0;}
     #side-3{background-color:#b3b3b3;padding:10px 5px;width:190px;height:220px;border-bottom-left-radius:30px;border-bottom-right-radius:30px;position:relative;z-index:-5;margin:0 auto 0 auto;cursor:move;}
	 #side-3-w{height:370px;position:relative;z-index:-5;margin-top:-180px;}
	   .region-sidebar-third{position:absolute;bottom:0;}
	 /*} sidebar */
	#content-wrapper{margin-top:-45px;}
    #content{width:690px;background-color:rgba(255,255,255,0.8);padding:10px;height:600px;position:relative;z-index:9;}
	h1#page-title{margin:-10px -10px 10px -10px;background:url(../images/h1-bg.png) repeat-x;height:43px;color:#fff;padding:0 10px;}
	#breadcrumb{float:right;}
	#content-t{background-color:#000;width:690px;padding-right:20px;border-bottom:1px solid #111;position:relative;}
	/*} main } main-bg } main-wrapper */
/* End Main region */

/* Footer region */
#footer-wrapper{} /*{*/
  #footer{width:950px;margin:0 auto;} /*{*/
   .foot {display:inline-block;width:300px;}
   #foot1{}
   #foot2{}
   #foot3{}
   #foot-msg{clear:both;}
/* } footer } footer-wrapper */

/* More page styles */
h1,h2 {
margin:0;font-family:'Play';
}
h1 {font-size:28px;}
h2 {font-size:20px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:12px;}
h6{font-size:10px;}

#breadcrumb{padding-bottom:0;}
#breadcrumb a {color:#ccc;font-size:12px;text-transform:lowercase;}
#superfish-1 a {font-family:'Days One';color:#fff;font-size:13px;font-weight:bold;}
#superfish-1 a:hover {color:#999;}
#superfish-1 li ul {position:absolute;top:2.1em;}
#superfish-1 li ul a {font-weight:normal;font-size:13px;padding:10px;background:rgba(0,0,0,.8);border-bottom:1px solid #222;}
#superfish-1 li ul a:hover {background:rgba(255,255,255,.8);color:#333;}
#superfish-1 li.middle, #superfish-1 li.last{margin-left:30px;}
#superfish-1 li.sf-depth-2 {margin:0;}

#side-3 h2{font-size:16px;}
#side-3 label{display:inline;width:100px;}
#side-3 #edit-name {width:90px;}
#side-3 #edit-pass{width:95px;}
#side-3 li {list-style:none;display:inline;}
#side-3 .item-list ul li {margin:0;padding:0;}
#side-3 .item-list li a{padding:3px;margin:0;background-color:#333;font-size:12px;display:inline-block;width:86px;text-align:center;color:#fff;font-weight:normal;border-radius:5px;}
#side-3 .item-list li a:hover{background-color:#666;color:#fff;}
#side-3  .form-submit {margin:0 auto;display:block;width:120px;background-color:#333;padding:7px 5px;color:#fff;border-radius:10px;cursor:pointer;}
#side-3 .form-submit:hover{background-color:#666;}

.tabs{margin:0;padding:0;}
.tabs ul.primary{border:0;margin:0;padding:0;}
.tabs ul.primary li a{font-size:12px;font-weight:bold;border-top-right-radius:5px;padding:0 5px;margin:0;border:0;background-color:#333;color:#999;}
.tabs ul, .tabs li {} 